@import url(../../scss/fonts.scss);
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 24px;
  margin-right: 24px;
}
.text-block {
  background-color: #2a254b;
  padding: 32px;
}
.text-heading {
  font-family: 'Clash Display Regular';
  font-size: 20px;
  color: #ffffff;
}
.text-p {
  margin-top: 20px;
  font-family: 'Satoshi Regular';
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.button-collection {
  width: 100%;
  height: 56px;
  font-family: 'Satoshi Regular';
  font-size: 16px;
  background-color: #f9f9f926;
  color: #ffffff;
  border: none;
  margin-top: 68px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding-top: 17px;
}
.button-collection:hover {
  background-color: #f9f9f934;
}
.itstarted-image-wrapper {
  margin-top: 24px;
  width: 100%;
}
.itstarted-image {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 786px) {
  .flex-wrapper {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .text-block {
    padding: 50px;
    width: 48%;
    position: relative;
  }
  .button-collection {
    width: 170px;
    position: absolute;
    bottom: 50px;
  }
  .itstarted-image-wrapper {
    margin-top: 0;
    width: 48%;
  }
}
@media only screen and (min-width: 992px) {
  .text-heading {
    font-size: 32px;
  }
  .text-p {
    font-size: 18px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 1400px) {
  .text-block {
    padding: 69px;
  }
  .button-collection {
    bottom: 64px;
  }
}
