@import url(../../scss/fonts.scss);

.products-container {
  display: flex;
}

.products-container-item-filter {
  font-family: 'Clash Display';
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a254b;
}

.products-container-item-product {
  font-family: 'Clash Display';
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a254b;
}
