@import url(../../scss/fonts.scss);

.headerContainer {
  width: 95%;
  height: 69px;
  margin: 0 auto;
  position: relative;
}

.topMenu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logoLink {
  text-decoration: none;
}

.logo {
  display: block;
  font-family: 'Clash Display Regular';
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #22202e;
  width: max-content;
}

.icons {
  display: none;
  position: absolute;
}

.icon {
  display: inline-block;
  margin-right: 16px;
}

.icon, .iconAuth {
  transition: all 0.3s ease-in-out;
}

.icon:hover, .iconAuth:hover {
  transform: scale(1.3);
}

.iconAuth {
  position: absolute;
  top: 26px;
  right: 32px;
}

.iconMenu {
  display: block;
  width: max-content;

  &Display {
    display: none;
  }
}

@media (min-width: 768px) {
  .headerContainer {
    height: 132px;
    max-width: 1440px;
  }
  .topMenu {
    height: 66px;
    display: block;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border-top: 1px solid #00000020;
      transform: translateY(-50%);
    }
  }
  .logo {
    margin: 0 auto;
    line-height: 66px;
  }
  .icons {
    display: block;
    position: absolute;
    top: 23px;
    right: 16px;
  }
  .iconMenu {
    display: none;
  }
  .iconAuth {
    position: absolute;
    top: 23px;
    right: 0;
  }
}
