.btn-send--order {
  margin-top: 40px;
  width: 100%;
  padding: 16px 0;
  font-family: 'Satoshi';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: #2a254b;
  color: white;
  transition: all 0.1s ease-in-out;
  transform: scale(1);
  cursor: pointer;
}
.order__text-container {
  margin: 40px auto 0 auto;
  width: 90%;
}


.order-text--error {
  margin-left: auto;
  font-family: 'Satoshi Regular';
  font-weight: 400;
  font-size: 18px;
  color: #22202e;
  line-height: 24px;
}

.form-massage__error {
  color: #e4605e;
}

@media (min-width: 768px) {
  .btn-container {
    width: max-content;
    margin-left: auto;
  }
  .order__text-container {
    max-width: 1440px;
    width: 85%;
  }
  .btn-send--order {
    width: 172px;
  }
}