.auth-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 300px;
  position: relative;
  flex: 1;
}

.auth-container {
  width: 60%;
  margin-top: 30px;
  min-width: 300px;
}

.auth-title {
  margin: 0 auto;
  width: max-content;
  font-family: 'Clash Display Regular';
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #22202e;
}

.btn-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.auth-btn {
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  width: 60%;
  font-family: 'Satoshi Regular';
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  background-color: #6868a3;
  display: block;
  color: #e0e0e0;
  border: 0;
  border-radius: 5px;
  margin-bottom: 15px;
}

.auth-btn--active {
  background-color: #2a254b;
}

.form-container {
  display: block;
  margin: 50px auto 50px auto;
  width: 60%;
  min-width: 300px;
}

@media (min-width: 768px) {
  .auth-container {
    width: 85%;
    margin-top: 128px;
  }

  .auth-title {
    font-size: 30px;
    line-height: 30px;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .auth-btn {
    margin: 0;
    width: 250px;
    min-width: 250px;
    display: inline-block;
    margin: 2px;
  }
  .form-container {
    width: 500px;
  }
}

@media (min-width: 768px) {
  .auth-container {
    max-width: 1440px;
  }
}
